* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'century gothic', sans-serif;
    font-size: 2dvh;
    color: #ffffff;
    font-weight: 600;
    /* padding: 30px; */
    margin: auto;
}
.logo {
    
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    align-items: flex-start;
    width: 50%;
    height: auto;
    margin-top: 10px ;
}

#logo2 {
    width: 30%;
    height: auto;
}

.background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   justify-content: space-around;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around ;
    width: 40dvw;
    height: 80dvh;
    background-color: #000c22;
    opacity: 92%;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

/* .foto{ 
    width: 1vw;
    height: auto;
    margin-top: 20px ;
    object-fit: cover; 
    /* display: flex;
   justify-content: center; */

   img {
     /* width: 15dvw;
    height: auto;
    margin-top: 20dpx ;
    object-fit: cover;   */
    padding: 1em;
    width: 15dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .imutavel{
    font-family: 'century gothic', sans-serif;
    font-weight: 700;
    font-size: 1.5dvw;
   }
   .mutavel{
    font-family: 'century gothic', sans-serif;
    font-weight: 400;
    font-size: 1.5dvw;
   }

    button{
    display: flex;
    justify-content: center;
    flex-wrap: row;
    align-items: center;  
    margin-top: 1dvh;
    margin-bottom: 1dvh;
    font-family: 'century gothic', sans-serif;
    font-weight: 700;
    width: 15dvw;
    height: 7dvh;
    border-radius: 9px;
    cursor: pointer;
    border-color: #ffffff;
    padding: 1em;
    }

