* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000000;
  font-family: sans-serif;
  color: #ffffff;
}

main {
  background-color: #000;
  font-family: 'century gothic', sans-serif;
  font-size: 2dvh;
  color: #ffffff;
  font-weight: 600;
  margin-right: 60px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40dvw;
  height: 80dvh;
  background-color: #000c22;
  opacity: 92%;
  border-radius: 30px;
}

#usuario {
  padding: 1em;
  width: 15dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {

  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  align-items: flex-start;
  width: 50%;
  height: auto;
  margin-top: 10px;
}

#logo2 {
  width: 30%;
  height: auto;
}

.background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.imutavel {
  font-family: 'century gothic', sans-serif;
  font-weight: 700;
  font-size: 1.5dvw;
}

.mutavel {
  font-family: 'century gothic', sans-serif;
  font-weight: 400;
  font-size: 1.5dvw;
}

.editar {
  display: flex;
  justify-content: center;
  flex-wrap: row;
  align-items: center;
  margin-top: 1dvh;
  margin-bottom: 1dvh;
  background-color: #ffffff;
  color: #182340;
  font-family: 'century gothic', sans-serif;
  font-weight: 700;
  width: 15dvw;
  height: 7dvh;
  border-radius: 9px;
  cursor: pointer;
  border-color: #556e94;
  padding: 1em;
  text-decoration: none;
  /* tira o sublinhado */
}

.remover {
  display: flex;
  justify-content: center;
  flex-wrap: row;
  align-items: center;
  margin-top: 1dvh;
  margin-bottom: 1dvh;
  background-color: #ffffff;
  color: #182340;
  font-family: 'century gothic', sans-serif;
  font-weight: 700;
  width: 15dvw;
  height: 7dvh;
  border-radius: 9px;
  cursor: pointer;
  border-color: #556e94;
  padding: 1em;
  text-decoration: none;
  /* tira o sublinhado */
}