* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'century gothic', sans-serif;
    font-size: 2dvh;
    color: #ffffff;
    font-weight: 600;
    padding: 70px;
    margin: auto;
    background-image: url("/img/fundo.png");
    background-repeat: repeat;
}


img {
    width: 15dvw;
    height: auto;
    margin-top: 20px;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50dvw;
    height: 65dvh;
    background-color: #001A4C;
    opacity: 92%;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

label {
    display: flex;
    align-items: flex-start;
    
}

input {
    background-color: #c9c9c9;
    font-family: 'century gothic', sans-serif;
    width: 40dvw;
    height: 6dvh;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    opacity: 92%;
    cursor: pointer;
    border-color: #c9c9c9;
}

a {
    font-family: 'century gothic', sans-serif;
    color: #ffffff;
    margin-bottom: 3dvh;
    font-weight: 100;
    text-decoration: none;
}

.btn-cadastrar {
    background-color: #ffffff;
    width: 40dvw;
    height: 6dvh;
    border-radius: 7px;
    font-family: 'century gothic', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2dvh;
}

.background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cadastro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2dvh;
    font-family: 'century gothic', sans-serif;
    font-weight: 700;
    background-color: #ffffff;
    color: #182340;
    width: 40dvw;
    height: 6dvh;
    border-radius: 9px;
    cursor: pointer;
    border-color: #556e94;
    text-decoration: none;
    /* tira o sublinhado */
}

