* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.gallery-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    position: relative;
}

.arrow {
    padding: 1rem;
    cursor: default;
    opacity: 0.5;
}

.arrow svg {
    width: 2.5rem;
    height: 2.5rem;
    stroke: white;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    perspective: 1000px;
    padding: 0 1vw;
}

.gallery-image {
    width: clamp(500px, 50vw, 900px);
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    opacity: 0.4;
    transform: scale(0.85);
    transition: all 0.4s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.gallery-image.left {
    opacity: 0.6;
    transform: rotateY(25deg) scale(0.9);
}

.gallery-image.right {
    opacity: 0.6;
    transform: rotateY(-25deg) scale(0.9);
}

.gallery-image.center {
    width: clamp(300px, 45vw, 600px);
    transform: scale(1) translateY(-1vh);
    opacity: 1;
    z-index: 2;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}


@media (max-width: 600px) {
    .gallery {
        gap: 1vw;
    }

    .gallery-image.center {
        width: clamp(250px, 80vw, 350px);
    }

    .gallery-image {
        width: clamp(120px, 30vw, 180px);
    }
}