* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000de;
    width: 100%;
}


.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 85dvh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('/img/tela-inicial/minha-mae-e-uma-peca.png');
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    gap: 4rem;
}

.nav-em-partes {
    display: flex;
    gap: 5rem;
    list-style: none;
}

.nav-em-partes li a {
    color: white;
    font-family: 'century gothic', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-em-partes li a:hover {
    color: #2C6FD1;
}

/* ------------------- BARRA DE PESQUISA ------------------- */
.pesquisar-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    border: white;
    /* border: size 20px;*/
    border-radius: 15px;
    /*padding: 0rem 0em 0rem 10rem;*/
    opacity: 100%
}

.pesquisar-container input {
    color: white;
    background-color: transparent;
    border-radius: 42px;
    background-image: url(/assets/img/tela-inicial/pesquisar.png);
    background-repeat: no-repeat;
    background-position: 9rem;
    padding: 0.5rem;
    border: 2px solid white;
}

::placeholder {
    color: white;
    font-family: 'century gothic', sans-serif;
    font-size: 1rem;
}

.pesquisar-container .pesquisar-icone {
    position: absolute;
    right: 11.5%;
    transform: translateY(100% 50%);
    width: 1rem;
    height: 1rem;
}



.user {
    width: 1.9rem;
    height: 1.9rem;
}

/*MAIN*/
main {
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-right: 60px;
    padding: 20px;

}

main img{
    height: 100%;
    width: 90%;
}
/*------------------------------------------------------------*/
.gallery-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    position: relative;
}

.arrow {
    padding: 1rem;
    cursor: default;
    opacity: 0.5;
}

.arrow svg {
    width: 2.5rem;
    height: 2.5rem;
    stroke: white;
}

/*IMAGEM FILMES + NOMES*/
.cartao {
    position: relative;
}
/*---------------------------------------------------------------------*/
/*NOMES DOS FILMES*/
.overlayleft {
    top: 80%;
    bottom: 0;
    left: 9%;
    right: 0;
    font-family: 'century gothic', sans-serif;
    font-weight: 700;
    font-size: 1dvw;
}

.overlay {
    top: 80%;
    bottom: 0;
    left: 1%;
    right: 0;
    position: absolute;
    font-family: 'century gothic', sans-serif;
    font-weight: 700;
    font-size: 1.5dvw;
}

.overlayright {
    top: 80%;
    bottom: 0;
    left: 9%;
    right: 0;
    position: absolute;
    font-family: 'century gothic', sans-serif;
    font-weight: 700;
    font-size: 1dvw;
}
/*--------------------------------------------------------*/
@media (max-width: 600px) {
    .gallery {
        gap: 1vw;
    }

    .gallery-image.center {
        width: clamp(250px, 80vw, 350px);
    }

    .gallery-image {
        width: clamp(120px, 30vw, 180px);
    }
}
/*SECTION FILMES*/
.lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    gap: 1em;
    cursor: pointer;
    opacity: 80%;
}
/*---------------------------------------------------------------------*/
/*NOMES DOS FILMES*/
.overlay {
    top: 80%;
    bottom: 0;
    left: 3%;
    right: 0;
    position: absolute;
    font-family: 'century gothic', sans-serif;
    font-weight: 700;
    font-size: 0.55dvw;
}
/*---------------------------------------------------------------------*/
/*CARROSSEL*/
.carrossel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carrossel img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}
/*--------------------------------------------------------------------*/