* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.logo {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    align-items: flex-start;
    width: 1%;
}

.banner {
    padding: 1em;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 2em;
   cursor: pointer;
}

#banner2 {
    border-radius: 22px;
}

.lista{
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 1em; 
   gap: 1em ;
   cursor: pointer;
}