* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.logo {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    align-items: flex-start;
    width: 1%;
    margin-top: 2dvh;
}

#bannerHeader {
    overflow: hidden;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    opacity: 45%;
}

#bannerHeader img {
    cursor: pointer;
    position: relative;

}

#banner1 {
    border-radius: 22px;
    position: fixed;
    left: -400px;
}

#banner2 {
    border-radius: 22px;
    position: fixed;
    left: -400px;
}

#bannerPrincipal {
    border-radius: 22px;
    justify-content: center;
    left: -400px;
}


/* .listas{
    opacity: 20%;
} */
.lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    gap: 1em;
    cursor: pointer;
    opacity: 50%;
}

.bg {
    background-color: red;
}

.bg1 {
    background-color: yellow;
}

.bg2 {
    background-color: green;
}