* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {

    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    gap: 2rem;
}

.nav-em-partes {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}

.nav-em-partes li a {
    color: white;
    font-family: 'century gothic', sans-serif;
    font-weight: 700;
    font-size: 1.5dvw;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-em-partes li a:hover {
    color: #2C6FD1;
}

/* ------------------- BARRA DE PESQUISA ------------------- */
.pesquisar-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    border: white;
    /* border: size 20px;*/
    border-radius: 15px;
    /*padding: 0rem 0em 0rem 10rem;*/
}

.pesquisar-container input {
    color: white;
    background-color: transparent;
    border-radius: 42px;
    background-image: url(/assets/img/tela-inicial/pesquisar.png);
    background-repeat: no-repeat;
    background-position: 9rem;
    padding: 0.5rem;
    border: 2px solid white;
}

::placeholder {
    color: white;
    font-family: 'century gothic', sans-serif;
    font-size: 1rem;
}

.pesquisar-container .pesquisar-icone {
    position: absolute;
    right: 11.5%;
    transform: translateY(100% 50%);
    width: 1rem;
    height: 1rem;
}


.hero {
    display: flex;
   background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 90dvh;
    width: 95dvw;
    border-radius: 30px;
    background-image: linear-gradient( to top , rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('/img/tela-inicial/minha-mae-e-uma-peca.png');
}

p {
    color: white;
    font-family: 'century gothic', sans-serif;
    font-weight: 700;
    font-size: 5rem;
   padding-top: 30rem; 
   padding-left: 1.5rem;
}

/*MAIN*/
main {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-right: 60px;
    padding: 20px;
    width: 100%;

}

main img {
    height: 100%;
    width: 95%;
}

/*------------------------------------------------------------*/
.gallery-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    position: relative;
}

.arrow {
    padding: 1rem;
    cursor: default;
    opacity: 0.5;
}

.arrow svg {
    width: 2.5rem;
    height: 2.5rem;
    stroke: white;
}

/*IMAGEM FILMES + NOMES*/
.cartao {
    position: relative;
}

@media (max-width: 600px) {
    .gallery {
        gap: 1vw;
    }

    .gallery-image.center {
        width: clamp(250px, 80vw, 350px);
    }

    .gallery-image {
        width: clamp(120px, 30vw, 180px);
    }
}

/*SECTION FILMES*/
.lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    margin-left: 3em;
    cursor: pointer;
    opacity: 70%;

}

/*---------------------------------------------------------------------*/
/*NOMES DOS FILMES*/
.overlay {
    top: 80%;
    bottom: 0;
    left: 3%;
    right: 0;
    position: absolute;
    font-family: 'century gothic', sans-serif;
    font-weight: 600;
    font-size: 0.48dvw;
}

/*---------------------------------------------------------------------*/
/*CARROSSEL*/
.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    ;

}

.carrossel img {
    max-width: 100%;
    object-fit: contain;
    display: block;
}

button {
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 4em;
}

.direito {
    margin-top: 4em;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

/*--------------------------------------------------------------------*/