body {
    overflow-x: hidden;
}

.transition-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
    
    /* Estado inicial: invisível */
    opacity: 0;
    pointer-events: none; /* Permite clicar no que está atrás enquanto invisível */
    transition: opacity 0.5s ease-in-out;
    will-change: opacity;
}

/* Estado quando a tela fica preta (Fade In) */
.transition-div.animate__in {
    opacity: 1;
    pointer-events: all; /* Bloqueia cliques durante a transição */
}

/* Opcional: Se quiser um efeito de fade out suave no final */
.transition-div.animate__out {
    opacity: 0;
    pointer-events: none;
}